@font-face {
    font-family: "cmb";
    src: url("file:///X:/hp/Um6ra1.github.io/LPGenDM/cmcsc10.ttf");
}

.mincho {
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-size: 2.4rem;
}

body {
	-webkit-text-size-adjust: 100%;
	background : linear-gradient(#FFFFFF, #E0E0E0);
}

html, body {
	width : 100%; /* Use overall area */
	height : 100%;
	min-height: 100%;
	
	position: relative;
	padding: 0;
	margin: 0;
	
	font-family : 'Estrangelo Edessa';
	word-break: normal;
	white-space: normal; 
}

div#HeaderBk {
	width: 100%; /* Use overall area */
	
	padding: 0px 0 0;
	background-color: #404040;
}

div#FooterBk {	
    width : 100%;
	height: 5em;
	
	bottom: 0;
	position: absolute;

	color : #3498DB;
	background-color : #404040;
}

label {
	width: 60px;
    float: left;
    line-height: 24px;
    font-weight: bold;
}

h1 {
	text-align : center;
	vertical-align : middle;
	color : #3498DB;
	font-family : Arial, sans-serif;
}

h3 {
	padding: .75em 1em;
	border: 1px solid #ccc;
	border-top: 3px solid #3498db;
	background: -webkit-linear-gradient(top, #FFF 0%, #F0F0F0 100%);
	background: linear-gradient(to bottom, #FFF 0%, #F0F0F0 100%);
	box-shadow: 0 -1px 0 #FFF inset;
}

input, textarea {
	width: 80px;
	padding: 0.8em;
	outline: none;
	background-color: #000000;
	border-color: #000000;
	color: #3498db;
	opacity: 0.7;
	
	border: 1px solid #3498db;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	-webkit-transition: opacity .5s ease-out;
	-moz-transition: opacity .5s ease-out;
	-ms-transition: opacity .5s ease-out;
	transition: opacity .5s ease-out;
	
    margin-bottom:5px;
    padding:2px 5px;
}

input[type=button] {
    margin-top: 5px;
    margin-left: 60px;
    padding: 2px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #06C;
    background-color: #09F;
    color: #fff;
    font-weight: bold;
}

textarea:hover {
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=100);	/* IE lt 8 */
	-ms-filter: "alpha(opacity=100)"; /* IE 8 */
	-webkit-transition: opacity .5s ease-out;
	-moz-transition: opacity .5s ease-out;
	-ms-transition: opacity .5s ease-out;
	transition: opacity .5s ease-out;
}
input:hover{
	opacity : 1.0;
}
input:focus{
	box-shadow: 0 0 11px, #3498DB;
    border: 1px solid #3498DB;
	-webkit-box-shadow: 0px 1px 3px 0px #00FFFF;
	-moz-box-shadow: 0px 1px 3px 0px #00FFFF;
}